{% extends 'config.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}
    <h1>Reserva index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>cliente</th>
                 <th>Habitacion/casa vacaional</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Pasaporte</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.id }}</td>
                <td>{{ reserva.cliente }}</td>
                
                <td>
           {% if  reserva.casavacacional  %}
                {{ reserva.casavacacional }}
                {% else %}
              {{ reserva.habitaciones }}
              </td>

                {% endif %}
                <td>{{ reserva.fechainicio ? reserva.fechainicio|date('Y-m-d') : '' }}</td>
                <td>{{ reserva.fechafin ? reserva.fechafin|date('Y-m-d') : '' }}</td>
                <td>{{ reserva.pasaporte }}</td>
                <td>{{ reserva.sexo ? 'Yes' : 'No' }}</td>
                <td>{{ reserva.telefono }}</td>
                <td>{{ reserva.descripcion }}</td>
                <td>
                    <a href="{{ path('reserva_show', {'id': reserva.id}) }}">show</a>
                    <a href="{{ path('reserva_edit', {'id': reserva.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reserva_new') }}">Create new</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">

    
{% endblock %}
