{% extends 'config.html.twig' %}

{% block title %}Servicios index{% endblock %}

{% block body %}
    <h1>Servicios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Servicio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.id }}</td>
                <td>{{ servicio.servicio }}</td>
                <td>
                    <a href="{{ path('servicios_show', {'id': servicio.id}) }}">show</a>
                    <a href="{{ path('servicios_edit', {'id': servicio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('servicios_new') }}">Create new</a>
{% endblock %}
