
<form  id="myModal" action="{{path('cliente_new')}}" method="post"   form="form-horizontal" novalidate="">

        <div class="row">

            <div class="col-sm-4">
                {{ form_widget(form.nombre,{'attr' : {'class' : 'form-control','placeholder' : 'Nombre'}}) }}
                {{ form_errors(form.nombre) }}

            </div>

            <div class="col-sm-4">
                {{ form_widget(form.apellidos,{'attr' : {'class' : 'form-control','placeholder' : 'Apellidos'}}) }}
                {{ form_errors(form.apellidos) }}

            </div>
        
</div>
      <br>
      

         <div class="row">

            <div class="col-sm-4">
                {{ form_widget(form.correo,{'attr' : {'class' : 'form-control','placeholder' : 'Correo'}}) }}
                {{ form_errors(form.correo) }}

            </div>
              
         
            
            <div class="col-sm-4">
                {{ form_widget(form.contrasena,{'attr' : {'class' : 'form-control','placeholder' : 'Contraseña'}}) }}
                {{ form_errors(form.contrasena) }}

            </div>
        </div>
        <br>
            <div class="modal-footer">
                <div class="row ">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " >

                        <button  title="Adicionar registro de accidentalidad" type="submit" class=" btn   btn-primary" > <span class="glyphicon glyphicon-plus"></span> Adicionar</button>
                        {{ form_rest(form) }}

                    </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " >
                    <button title="limpiar formulario" class="btn btn-success " type="reset"><span class="glyphicon glyphicon-minus"></span> Limpiar</button>

                    </div>
                </div>
                   </div>
