



{% block body %}


    <form id="formServ" action="{{path('chequeomedico_new')}}" method="post"   form="form-horizontal" novalidate="">


        <div class="alert alert-warning" role="alert">
            <label> todos los campos con (*) son obligatorios llenarlos </label>
        </div>

        <div class="row">

            <div class="col-sm-6" >
                <label for="exampleInputEmail1">Chofer<label class="text-danger glyphicon-text-size">*</label></label>
                {{ form_widget(form.Chofer,{'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.Chofer) }}
            </div>

            <div class="col-sm-6">
                <label for="exampleInputEmail1">Fecha de chequeo médico<label class="text-danger glyphicon-text-size">*</label></label>

                <div class='input-group date' id='datetimepicker1' data-date-format="dd MM yyyy"  data-link-format="yyyy-mm-dd">
                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                    {{ form_widget(form.fechaChequeoMedico,{'attr' : {'class' : 'form-control', 'readonly' :'readonly'}}) }}

                </div>
                </div>
            <br>
            <div>
                <br>
<div>
                <h4>Padecimientos</h4>
</div>
        <div class="row">

            <br>
        <div class="col-sm-3" >
                <label for="exampleInputEmail1">Vista</label>
                {{ form_widget(form.vista,{'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.vista) }}
            </div>

            <div  class="col-sm-3" >
                <label for="exampleInputEmail1">Fisico</label>
                {{ form_widget(form.fisico,{'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.fisico) }}

            </div>

            <div  class="col-sm-3" >
                <label for="exampleInputEmail1">Diabetis</label>
                {{ form_widget(form.diabetis,{'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.diabetis) }}

            </div>
            <div  class="col-sm-3" >
                <label for="exampleInputEmail1">hipertensión</label>
                {{ form_widget(form.hipertension,{'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.hipertension) }}

            </div>
        </div>
            </div>






            <div  >
                <label for="exampleInputEmail1">Otros padecimeintos</label>
                {{ form_widget(form.descripcion,{'attr' : {'class' : 'form-control '}}) }}
                {{ form_errors(form.descripcion) }}

            </div>







    </form>

<div class="row">

</div>

<div class="modal-footer">
    <div class="row ">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " >

            <button  title="Adicionar registro de chequeo médico" type="submit" class=" btn   btn-primary" > <span class="glyphicon glyphicon-plus"></span> Adicionar</button>
            {{ form_rest(form) }}

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " >

            <button title="limpiar formulario" class="btn btn-success " type="reset"><span class="glyphicon glyphicon-minus"></span> Limpiar</button>

        </div>
    </div>

{% endblock %}

{% block javascripts %}


    <script type="text/javascript">
        //rbb

        $('#datetimepicker1').datetimepicker({
            //  viewMode: 'years'
            format: 'yyyy-mm-dd',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0


        });




    </script>
{% endblock %}

