<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <title>{% block title %}HelloFlatmate!{% endblock %}</title>
    {% block stylesheets %}
     <link rel='dns-prefetch' href='//maps-api-ssl.google.com' />

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
	    	
    <link href="{{ asset('assets/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/settings.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-select.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/font-awesome.min.cs') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/swipebox.min.css') }}" rel="stylesheet"  />
    <link href="{{ asset('assets/css/slick.css') }}" rel="stylesheet"  />
    <link href="{{ asset('assets/css/slick-theme.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/jquery-ui.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/radio-checkbox.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/fullcalendar.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/styling-options.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/estilos.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/js_composer.min.css') }}" rel='stylesheet'/>
    {% endblock %}
    
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-migrate.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('assets/js/infobox_packed.js') }}"></script>
    <script src="{{ asset('assets/js/revolution.extension.slideanims.min.js') }}"></script>
	
	<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
	
    <script src="{{ asset('assets/js/revolution.extension.layeranimation.min.js') }}"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/icon-fav.png">
    <!-- Apple iPhone Icon -->
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="//89239-661579-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c);
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                        f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                    }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function(e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
    </script>
    
</head>
<body class="home page-template page-template-template page-template-template-homepage page-template-templatetemplate-homepage-php page page-id-493 compare-property-active side-nav-active wpb-js-composer js-comp-ver-5.7 vc_responsive">
    {#Modal Registrarse#}
        <!-- Modal -->
    {#   <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog box-register" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-facebook"><span class="fa fa-facebook-official"></span> Seguir con Facebook</button>
                        <button type="button" class="btn btn-google"><span class="fa fa-google"></span> Seguir con Google</button>

                        <hr>

                        <div style="padding-left: 5px;padding-right: 5px">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Correo</label>
                                    <input type="text" style="border-radius: 0px" class="form-control" id="recipient-name" placeholder="Correo">
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Nombre</label>
                                    <input type="text" style="border-radius: 0px" class="form-control" id="recipient-name" placeholder="Nombre">
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Apellido</label>
                                    <input type="text" style="border-radius: 0px" class="form-control" id="recipient-name" placeholder="Apellido">
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Contraseña</label>
                                    <input type="password" style="border-radius: 0px" class="form-control" id="recipient-name" placeholder="Contraseña">
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Confirmar Contraseña</label>
                                    <input type="password" style="border-radius: 0px" class="form-control" id="recipient-name" placeholder="Confirmar Contraseña">
                                </div>

                                <div class="modal-footer">
                                    <div class="container" style="text-align: center">
                                        <button type="button" class="btn btn-primary btn-property">Aceptar</button>
                                        <button type="button" class="btn btn-danger btn-property" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        {#Modal Session#}
        <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog box-register" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-facebook"><span class="fa fa-facebook-official"></span> Seguir con Facebook</button>
                        <button type="button" class="btn btn-google"><span class="fa fa-google"></span> Seguir con Google</button>

                        <hr>

                        <div style="padding-left: 5px;padding-right: 5px">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Correo</label>
                                    <input type="text" style="border-radius: 0px" class="form-control" id="recipient-name" placeholder="Correo">
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Contraseña</label>
                                    <input type="password" style="border-radius: 0px" class="form-control" id="recipient-name" placeholder="Contraseña">
                                </div>

                                <div class="modal-footer">
                                    <div class="container" style="text-align: center">
                                        <button type="button" class="btn btn-primary btn-property">Aceptar</button>
                                        <button type="button" class="btn btn-danger btn-property" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    <div class="nav-area header-type-4 transparent-header">
        <!-- top bar -->
        <!-- desktop nav -->
        <header id="homey_nav_sticky" class="header-nav hidden-sm hidden-xs" data-sticky="1">
            <div class="container-fluid">
                <div class="header-inner table-block">
                    <div class="header-comp-logo">
                    <h1><a  href="#">
					<img src="assets/images/icon-touch.png" alt="helloflatmate" title="helloflatmate">
                    </a></h1>
                </div>

                    
					<div class="header-comp-right">
                    <div class="account-login">
						<ul class="login-register list-inline">

									<li><a href="#" data-toggle="modal" data-target="#modal-login"><h4>Login</h4></a></li> 
						
									<li><a href="#" data-toggle="modal" data-target="#modal-register"><h4>Register</h4></a></li>
									
									<li><a href="#" ><h4>Propietarios</h4></a></li>
									    	
                                <li><a href="{{ url('about') }}" ><h4>Helloflatmate</h4></a></li>
							</ul>
					</div>                

                </div>
            </div>
        </header>
        <!-- mobile header -->
        <header class="header-nav header-mobile hidden-md hidden-lg">
            <div class="header-mobile-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-mobile-nav" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <!-- btn-mobile-nav -->
                        </div>
                        <div class="col-xs-6">
                            <div class="mobile-logo text-center">
                                <h1>
                            <a href="">
                                                                   <imgsrc="assets/images/icon-touch.png" alt="helloflatmate" title="helloflatmate">
																</a>
                        </h1>
                            </div>
                            <!-- mobile-logo -->
                        </div>
                        <div class="col-xs-3">
                            <div class="user-menu text-right">
                                <button type="button" class="btn btn-mobile-nav" data-toggle="collapse" data-target="#user-nav" aria-expanded="false">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!-- user-menu -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- header-mobile-wrap -->

            <div class="container">
                <div class="row">
                    <div class="mobile-nav-wrap">
                        <nav id="mobile-nav" class="nav-dropdown main-nav-dropdown collapse navbar-collapse">
                            <ul id="mobile-menu" class="mobile-menu">
                                <li id="menu-item-692" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-692"><a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-693" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-693"><a href="#">Opcion 1</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-694" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-493 current_page_item menu-item-694"><a href="" aria-current="page">Opcion 01</a></li>
                                                <li id="menu-item-705" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-705"><a href="homepage-parallax-fullscreen/">Opcion 02</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-706" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-706"><a href="#">Opcion 2</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1818" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1818"><a href="homepage-map-standard/?search_position=under_banner">Opcion 01</a></li>
                                                <li id="menu-item-703" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-703"><a href="homepage-map-fullscreen/">Opcion 02</a></li>
                                            </ul>
                                        </li>
                                      
                                </li>
                           </ul>
                        </nav>
                    </div>
                    <!-- mobile-nav-wrap -->
                </div>
            </div>
            <!-- container -->
            <div class="container">
                <div class="row">
                    <div class="user-nav-wrap">

                        <nav id="user-nav" class="nav-dropdown main-nav-dropdown collapse navbar-collapse">
                            <ul>

                                <li>
                                    <a href="#" data-toggle="modal" data-target="#modal-login">
                                        <span data-toggle="collapse" data-target="#user-nav">Iniciar sesión</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" data-toggle="modal" data-target="#modal-register">
                                        <span data-toggle="collapse" data-target="#user-nav">Registrate</span>
                                    </a>
                                </li>

                                <li><a href="become-a-host/">Become a Host</a></li>

                            </ul>
                        </nav>
                        <!-- nav-collapse -->

                    </div>
                    <!-- mobile-nav-wrap -->
                </div>
            </div>
            <!-- container -->
        </header>
        <!-- header-nav header-mobile hidden-md hidden-lg -->
    </div>
    <div id="side-nav-panel" class="side-nav-panel side-nav-panel-vertical side-nav-panel-left">
        <div class="mobile-nav-wrap">
            <nav id="mobile-nav" class="nav-dropdown main-nav-dropdown">
                <ul id="mobile-menu" class="mobile-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-692"><a href="#">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-693"><a href="#">Opcion 1</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-493 current_page_item menu-item-694"><a href="" aria-current="page">Opcion 01</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-705"><a href="homepage-parallax-fullscreen/">Opcion 02</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-706"><a href="#">Opcion 2</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1818"><a href="homepage-map-standard/?search_position=under_banner">Opcion 01</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-703"><a href="homepage-map-fullscreen/">Opcion 02</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
               </ul>
            </nav>
        </div>
    </div>

     <!-- ************************************************************************************************************************-->

      <!-- Seccion boody -->

    <div id="section-body">
	
	{# <div class="footer-bottom-wrap" style="background-color:#777777;">
            <div class="container">
                <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <br>
						<br>
					
                    </div> 
                    <!-- col-xs-12 col-sm-6 col-md-6 col-lg-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        </div>
                    <!-- col-xs-12 col-sm-6 col-md-6 col-lg-6 -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div> #}

{% block body %}{% endblock %}
<!-- seccion footer-->
    <footer class="footer-wrap footer">

        <div class="footer-top-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                       <div id="homey_taxonomies-2" class="widget footer-widget widget-categories">
                            <div class="widget-top">
                                <h3 class="widget-title">Nosotros</h3></div>
                            <div class="widget-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="type/apartment/">Quiénes somos</a></li>
                                    <li>
                                        <a href="type/bed-breakfast/">Nuestro Equipo</a></li>
                                    <li>
                                        <a href="type/condo/">Contacto</a></li>
                                    <li>
                                        <a href="type/house/">Aviso Legal</a></li>
                                    
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div id="homey_taxonomies-2" class="widget footer-widget widget-categories">
                            <div class="widget-top">
                                <h3 class="widget-title">Preguntas Frecuentes</h3></div>
                            <div class="widget-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="type/apartment/">Hello Habitaciones</a></li>
                                    <li>
                                        <a href="type/bed-breakfast/">Hello propietarios</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-3 col-sm-12 col-xs-12">
                        <div id="homey_taxonomies-2" class="widget footer-widget widget-categories">
                            <div class="widget-top">
                                <h3 class="widget-title">Prensa</h3></div>
                            <div class="widget-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="type/apartment/">Blog</a></li>
                                    
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-3 col-sm-12 col-xs-12">
                        <div id="homey_taxonomies-2" class="widget footer-widget widget-categories">
                            <div class="widget-top">
                                <h3 class="widget-title">Contacto</h3></div>
                            <div class="widget-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="type/apartment/">Contáctanos por email:</a></li>
                                        <li>
                                        <a href="type/apartment/">rooms@flatmate.com</a></li>
                                         <li>
                                        <a href="type/apartment/">Horarios de Apertura</a></li>
                                         <li>
                                        <a href="type/apartment/">De lunes a viernes </a></li>
                                         <li>
                                        <a href="type/apartment/">de 10:00 am a 18:00</a></li>
                                    
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
          
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- footer-top-wrap -->

        <div class="footer-bottom-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="footer-copyright">
                            helloflatmate - All rights reserved - Diseñado por helloflatmate 
                        </div>
                    </div>
                    <!-- col-xs-12 col-sm-6 col-md-6 col-lg-6 -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="social-footer">

                            <div class="social-icons social-round">

                                <a class="btn-bg-facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a>

                                <a class="btn-bg-twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a>

                                <a class="btn-bg-linkedin" target="_blank" href="#"><i class="fa fa-linkedin"></i></a>

                                <a class="btn-bg-google-plus" target="_blank" href="#"><i class="fa fa-google-plus"></i></a>

                                <a class="btn-bg-instagram" target="_blank" href="#"><i class="fa fa-instagram"></i></a>

                                <a class="btn-bg-pinterest" target="_blank" href="#"><i class="fa fa-pinterest"></i></a>

                                <a class="btn-bg-youtube" target="_blank" href="#"><i class="fa fa-youtube"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- col-xs-12 col-sm-6 col-md-6 col-lg-6 -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- footer-bottom-wrap -->
    </footer>

     <!--  fin seccion footer-->


{% block javascripts %}{% endblock %}

</body>


</html>